/* src/styles/Home.css */
.homeContainer {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #343a40;
  margin-top: 20px;
}



@media (max-width: 768px) {
  .btn-group {
    flex-direction: column;
  }

  .btn {
    width: 90%;
    margin: 5px 0;
  }
}
