body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.container {
  margin-top: 20px;
}

.btn-image {
  background: none;
  border: none;
  cursor: pointer;
}
.form-group {
  margin-bottom: 1rem;
}

.col-md-6 {
  padding: 5px; /* Добавляет отступы между элементами */
}
.col-md-4 {
  padding: 5px; /* Добавляет отступы между элементами */
}
.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.btn-image img {
  width: 24px;
  height: 24px;
}

input[type='text'] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

/* dendrologyForm.css */
.map-container {
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.map-container.show {
  max-height: 500px; /* Достаточное значение, чтобы вместить карту */
  opacity: 1;
}

.map-container.hide {
  max-height: 0;
  opacity: 0;
}
