/* src/assets/css/DendrologyAll.css */

.container {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #343a40;
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #3cb371;
}

.btn-primary:hover {
  background-color: #2e8b57;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.table-responsive {
  overflow-x: auto;
}

.table-fixed-header {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.table-fixed-header th,
.table-fixed-header td {
  white-space: nowrap;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;
}

.input-field {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#controls {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #343a40;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #343a40;
  margin-top: 20px;
}

p {
  color: #343a40;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.btn,
.small-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.btn:hover,
.small-btn:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #3cb371;
}

.btn-primary:hover {
  background-color: #2e8b57;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.table-responsive {
  overflow-x: auto;
}

.table-fixed-header {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table-fixed-header thead th {
  position: sticky;
  top: 0;
  background-color: #343a40;
  color: white;
}

.table-fixed-header th,
.table-fixed-header td {
  white-space: nowrap;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;
}

.table-fixed-header th:nth-child(1),
.table-fixed-header td:nth-child(1) {
  width: 80px;
}

.input-field {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 80px; /* Минимальная ширина для элементов ввода */
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer a {
  color: #3cb371;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.selected-row {
  background-color: #ffebcc;
}
.fade-out {
  animation: fadeOut 0.5s forwards;
}
.search-category {
  width: 200px; /* Задаем фиксированную ширину */
  padding: 5px; /* Внутренние отступы */
  font-size: 16px; /* Размер шрифта */
  border-radius: 4px; /* Скругление углов */
  border: 1px solid #ccc; /* Граница */
  box-sizing: border-box; /* Учитываем padding и border в ширине */
  margin-right: 10px; /* Отступ справа */
}

@keyframes fadeOut {
  to {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
@media (max-width: 768px) {
  #navbar,
  #controls {
    flex-direction: column;
    align-items: center;
  }

  .nav-item,
  .btn {
    width: 90%;
    margin: 5px 0;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn,
  .small-btn {
    width: 90%;
    margin: 5px 0;
  }
}
