.form-label {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-input {
  width: 36.2px;
  height: 36.2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.form-check-input:focus {
  border-color: #555758;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check-input:hover {
  background-color: #6b7279;
  border-color: #6b7279;
}

.form-check-input:active {
  background-color: #004085;
  border-color: #004085;
}

.form-check-input:disabled {
  background-color: #e9ecef;
  border-color: #ced4da;
  cursor: not-allowed;
}
