/* src/components/Navbar.css */
#navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #343a40;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.navbar-custom {
  background-color: #343a40;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar-custom .nav-item {
  color: white;
  margin-right: 15px;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  border-radius: 20px;
}

.nav-item:hover {
  background-color: #3cb371;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    width: 90%;
    margin: 5px 0;
  }
}
