/* src/components/Navbar/SectionNavbar.css */

#navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #343a40;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  border-radius: 20px;
}

.nav-item:hover {
  background-color: #3cb371;
  transform: scale(1.05);
}

.btn-warning {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.btn-warning:hover {
  background-color: #e0a800;
  transform: scale(1.05);
}
