.sectionsFooter {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
